/* Start Variables */
:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
    --white-background: white;
    --header: white;
    --main-p: #777;
    --special-heading: #797979;
}

:root:has(label>input[type="checkbox"]:checked) {
    --main-color: black;
    --section-background: #d7d7d7;
    --white-background: #8b8888cc;
    --header: #706f6fcc;
    --main-p: black;
    --special-heading: black;
}

/* End Variables */
/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Work Sans', sans-serif;
}


.parent {
    background-color: #eee;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


@media (min-width:768px) {
    .container {
        width: 750px;
    }
}

@media (min-width:992px) {
    .container {
        width: 970px;
    }
}

@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

i {
    color: var(--main-color)
}

/* End Global Rules */

/* Start Components */
.special-heading {
    color: #ebeced;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.special-heading+p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: var(--special-heading);

}

@media (max-width:767px) {
    .special-heading {
        font-size: 60px;
    }

    .special-heading+p {
        margin-top: -20px;
    }
}


/* End Components */

/* Start Header */
.header {
    padding: 20px;
    background-color: var(--header);
}

.header .container {
    display: flex;
    align-items: center;
}

.header .container :first-child {
    margin-right: auto;
}

.header .container> :nth-child(2) {
    margin-right: 30px;
}

.header .logo {
    width: 60px;
}

.header .links {
    position: relative;
}

.header .links:hover .icon span:nth-child(2) {
    width: 100%
}

.header .links .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header .links .icon span {
    background-color: #333;
    margin-bottom: 5px;
    width: 100%;
    height: 2px;
}



.header .links .icon span:nth-child(2) {
    width: 60%;
    transition: 0.3s;
}

.header .links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
    position: absolute;
    right: 0;
    min-width: 200px;
    top: calc(100% + 15px);
    z-index: 1;
    display: none;
}

.header .links ul::before {
    content: '';
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #F6F6F6 transparent;
    position: absolute;
    right: 5px;
    top: -20px;
}

.header .links:hover ul {
    display: block;
}


.header .links ul li a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #222;
    transition: 0.3s;
}

.header .links ul li a:hover {
    padding-left: 25px;
}

.header .links ul li:not(:last-child) a {
    border-bottom: 1px solid #DDD;
}

/* Dark-Mode */
input[type='checkbox'] {
    -webkit-appearance: none;
    visibility: hidden;
    display: none;
}

.check {
    position: relative;
    display: block;
    width: 40px;
    height: 20px;
    background-color: var(--secondary-color);
    cursor: pointer;
    border-radius: 20px;
    overflow: hidden;
    transition: ease-in 0.5s;
}

input[type='checkbox']:checked~.check {
    background-color: #fff;
}


.check::before {
    content: '';
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #fff;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
}

input[type='checkbox']:checked~.check::before {
    transform: translateX(-50px);
}

.check::after {
    content: '';
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: var(--header);
    width: 16px;
    height: 16px;
    border-radius: 50%;
    transition: 0.5s;
    transform: translateX(50px);
}

input[type='checkbox']:checked~.check::after {
    transform: translateX(0px);
}

/* Dark-Mode */
/* End Header */

/* Start Landing Section */
.landing {
    background-image: url(../images/landing.jpg);
    height: calc(100vh - 64px);
    background-size: cover;
    position: relative;
}

.landing .intro-text {
    position: absolute;
    left: 50%;
    top: 47%;
    max-width: 100%;
    transform: translate(-50%, -50%);
    background-color: var(--section-background);
    border-radius: 14px;
    text-align: center;
    box-shadow: 0px 0px 25px 2px var(--secondary-color);
}

.landing .intro-text .wrapper {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center;
}

@media (max-width:767px) {
    .landing .intro-text .wrapper {
        flex-direction: column;
    }
}

.landing .intro-text .static-txt {
    margin: 0;
    font-weight: bold;
    font-size: 50px;
    color: var(--main-color);
    align-self: center;
}

.landing .dynamic-txt {
    margin: 0;
    padding: 0;
    line-height: 90px;
    height: 90px;
    overflow: hidden;
}

.landing .dynamic-txt li {
    list-style: none;
    font-weight: 600;
    font-size: 50px;
    color: #2195f3da;
    position: relative;
    margin-left: 15px;
    text-align: start;
    top: 0;
    animation: slide 12s steps(4) infinite;
}

@keyframes slide {
    100% {
        top: -360px;
    }
}

.landing .dynamic-txt li ::after {
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    border-left: 2px solid #2196f3c7;
    background-color: var(--section-background);
    animation: typing 3s steps(10) infinite;
}

@keyframes typing {

    40%,
    60% {
        left: calc(100% + 25px);

    }

    100% {
        left: 0;
    }
}

.landing .intro-text p {
    width: 70%;
    line-height: 1.8;
    margin: auto;
    /* padding-left: 40px; */
    font-size: 25px;
    letter-spacing: -2px;
    font-weight: 600;

}

/* End Landing Section */

/* ٍStart  Features Section*/

.features {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.features .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.features .container .feat {
    flex-basis: 300px;
    text-align: center;
    padding: 20px;
    flex-grow: 1;
}

.features .container .feat p {
    line-height: 1.8;
    color: var(--main-p);
    font-size: 17px
}

.features .feat h3 {
    font-weight: 800;
    margin: 30px 0;
}

/* ٍEnd  Features Section*/

/* Start Services Section */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--white-background);
}

.services .services-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 100px;
}

.services .services-content .serv {
    display: flex;
    margin-bottom: 40px;
}

@media (max-width:767px) {
    .services .services-content .serv {
        flex-direction: column;
        text-align: center;
    }
}

.services .services-content .serv i {
    flex-basis: 60px;
    flex-shrink: 0;
}

.services .services-content .serv .text h3 {
    margin: 0 0 20px;
    ;
}

.services .services-content .serv .text p {
    color: var(--main-p);
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image {
    text-align: center;
    position: relative;
}

.services .services-content .image img {
    width: 260px;
}

.services .services-content .image::before {
    content: "";
    position: absolute;
    right: 0px;
    top: -50px;
    background-color: var(--secondary-color);
    width: 100px;
    height: calc(100% + 100px);
    z-index: -1;
}

@media (max-width:1199px) {
    .image-column {
        display: none;
    }
}

/* ُEnd Services Section */
/* ٍStart Portfolio Section */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}


.portfolio .portfolio-content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 30px;
    margin-top: 80px;
}

.portfolio .portfolio-content .card .info h3 {
    margin: 0;
}

.portfolio .portfolio-content .card {
    background-color: white;
}

.portfolio .portfolio-content img {
    max-width: 100%;
}

.portfolio .portfolio-content .card .info {
    padding: 20px;
}

.portfolio .portfolio-content .card .info p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
}

/* ٍEnd Portfolio Section */
/* ٍStart About Section */
.about {
    padding-top: var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
    background-color: var(--white-background);
}


.about .about-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 100px;
}

.about .about-content .image::before {
    content: '';
    position: absolute;
    width: 100px;
    background-color: #EBECED;
    height: calc(100% + 80px);
    top: -40px;
    left: -20px;
    z-index: -1;
}

.about .about-content .image {
    width: 250px;
    height: 375px;
    position: relative;
}

.about .about-content .image::after {
    content: '';
    position: absolute;
    width: 120px;
    height: 300px;
    border-left: 80px solid var(--main-color);
    border-bottom: 80px solid var(--main-color);
    top: -40px;
    right: -150px;
    z-index: -1;
}

.about .about-content img {
    max-width: 100%;
}

@media (max-width:991px) {

    .about .about-content .image::after,
    .about .about-content .image::before {
        display: none;
    }

    .about .about-content .image {
        margin: 0 auto 60px;
    }

    .about .about-content {
        flex-direction: column;
        text-align: center;
    }

}

.about .about-content .text {
    flex-basis: calc(100% - 500px);
}


.about .about-content .text p:first-child {
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about .about-content .text p:last-child {
    line-height: 2;
    color: var(--main-p)
}

.about .about-content .text hr {
    width: 50%;
    display: inline-block;
    border-color: var(--main-color)
}

.portfolio .portfolio-content .card .info p {
    color: #444;
    font-weight: 300;
    line-height: 1.6;
    margin: 0;
}

/* ٍEnd Portfolio Section */
/* Start Contact Section */
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .container .info {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    text-align: center;
}

.contact .container .info p,
.contact .container .info a {
    font-weight: 800;

}

.contact .container .info p {
    color: var(--secondary-color);
    margin-bottom: 15px;
    font-size: 35px;
    letter-spacing: -2px;
}

.contact .container .info a {
    color: var(--main-color);
    text-decoration: none;
    display: block;
    font-size: 25px;
    letter-spacing: 0px;
}

@media (max-width:767px) {

    .contact .container .info p,
    .contact .container .info a {
        font-size: 20px;
    }

    .contact .container .info p {
        letter-spacing: 0px;
    }

}

.social {
    margin-top: 20px;
}

.social i {
    color: var(--secondary-color);
    margin-left: 10px;
}

/* End Contact Section */
/* Start Footer */
.footer {
    padding-top: calc(var(--section-padding) / 2);
    padding-bottom: calc(var(--section-padding) / 2);
    background-color: var(--secondary-color);
}

.foot {
    color: var(--section-background);
    font-size: 18px;
    text-align: center;
}

.foot span {
    color: var(--main-color);
    font-weight: bold;
}

/* End Footer */